.fundox{
    display: flex;
    background-repeat: no-repeat;
    background-image: url('../../../public/images/image\ 15.svg');
    background-size: 100%;
    background-color: black;
    background-position: bottom;
    flex-direction: column;
}

.letras{
    color: white;
}

.faixav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 107, 140, 1);
    padding: 2em 0em 2em 0em;
    margin-left: -8px;
    margin-right: -7px;
    margin-top: -3em;
    padding-bottom: 2em;
}

.logov{
    mix-blend-mode: lighten;
    margin-right: 75em;
    margin-top: 1em;
}

button {
    background-color: rgba(254, 193, 138, 1);
    padding: 1.2em 3em;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'rrb';
    margin-top: 2em;
    margin-right: 1.5em ;

}

.descricaov {
    margin-left: 1em;
    color: #ffffff;
}
.containerv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
}

.especiev {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.NOMEv {
    display: flex;
    flex-direction: row;
    color:#ffffff;
}

.PESOv {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.primeirov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.segundov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.terceirov {
    background-color: #8CC4D6;
    padding: 1em;
}

.testev {
    margin-left: 2.5em;
}

.quartov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.quintov {
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.sextov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.setimov {
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.oitavov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.nonov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.bloco2v {
    margin-left: 12em;
}

.decimov {
    width: 20em;
    padding: 5em;
    background-color: #8CC4D6;
    color: #ffffff;
}

.onzev {
    width: 32em;
    padding: 6em;
    background-color: #8CC4D6;
    color: #ffffff;
}

input {
    border: none;
    border-radius: 6px;
}