.loginm {
    display: flex;
    flex-direction: column;
    
}
body {
   
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('')

}
.logom {
mix-blend-mode: lighten;
}
.hateem {
    display: flex;
    justify-content: flex-end;
    margin-top: -8em;
}
.faixam {
background-color: rgba(0, 107, 140, 1);
margin-top: -12em;
margin-left: em;
margin-right: px;
}
.textom{
   color:white;
   margin-right: 4em;
   margin-bottom: 1.2em;
   margin-top: 2.2em;
   font-size: 1.2em;
   background-color: rgba(254, 193, 138, 1);
   padding: 0.8em 2.8em;
   border-radius: 20em;
   font-family: 'sb';
}

.container1m {
    margin-left: 3em;
}
.testeem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}
.duchym {
    display: flex;
    flex-direction: column;
    margin-left: -20em;
}
.lolm{

    width: 50em;
    padding: 1em 2em 1em 1em; 
    margin-left: 0.3em;
}

.campm {
    display: flex;
    flex-direction: column;
    padding-left: 0em;  
}
.carraram {
    width: 42em;
    padding: 5em;
}
.doguinhom{
    width: 42em;
    height: 16em;
    padding: 1em;    
}
.nom { 
    margin-top: -22em ;
}
.testem{
    display: flex;
    flex-direction: row;
    
}
.derivadam{
    display: flex;
    margin: 0em 24em 0em 0em;
}
.trym {
    display: flex;
    flex-direction: row;
    margin: -1em 0em 1em 0em;
}
.lolom {
    width: 18%;
    padding: 0em 0em 0em 0em;
}

.lulam {
    margin-left: 3em;
}
.uohhm{
    margin-right: 25em;
}
.louisem{
    width: 18%;
    padding: 1em 1em 1em 1em;
}
.louvm {
    margin-left: 3em;
    width: 21%;
}
.enolam {
    width: 36%;
    padding: 1em 5em 1em 1em;
}
h1 {
    color: #ffffff;
    font-size: 2em;
    font-family: 'sb';
}
.Juh {
    background-color: #8CC4D6;
    border: none;
    border-radius: 6px;
}
p{
    font-family: 'sb';
    color: #ffffff;
    margin-bottom: 0.9em;
    margin-top: 0.4em;
}

.ppp {
    margin-left: 0.3em;
}

