.fundox{
    display: flex;
    background-repeat: no-repeat;
    background-image: url('../../../public/images/image\ 15.svg');
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    opacity: 90%;
}

.letras{
    color: white;
    margin-left: 1em;
    font-family: 'rb';

}

.faixav {
    display: flex;
    justify-content:space-between;
    background-color: rgba(0, 107, 140, 1);
    padding: 1.5em;
    padding-bottom: 0.1em;
    };



.logov{
    mix-blend-mode: lighten;
    margin-bottom: 1.5em;
}

.botoesv {
    background-color: rgba(254, 193, 138, 1);
    padding: 1em 3em 1em ;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    font-family: 'rrb';
    font-size: 1em;

}

.botoesu {
    background-color: rgba(254, 193, 138, 1);
    padding: 1em 3em 1em;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    font-family: 'rrb';

    font-size: 1em;
    margin-left: 2em;
    cursor:pointer;
}

.descricaov {
    margin-left: 2em;
    margin-top: 0.6em;
    margin-bottom: 1em;
    color: #ffffff;
    font-size: 1.1em;

}
.containerv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2em;
}

.especiev {
    display: flex;
    flex-direction: row;
    color: #000000;
}

.NOMEv {
    display: flex;
    flex-direction: row;
    color:#000000;
}

.PESOv {
    display: flex;
    flex-direction: row;
    color: #000000;
}

.primeirov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.segundov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.terceirov {
    
    border-radius: 20px;
    background-color: #8CC4D6;
    padding: 1em;
    width: 15em;
}

.quartov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.quintov {
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    width: 15em;
    font-family: 'rrb';
    border-radius: 20px;
}

.sextov {
    width: 20em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.setimov {
    padding: 1em;
    width: 15em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.oitavov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.nonov {
    width: 38em;
    padding: 1em;
    background-color: #8CC4D6;
    color: #000000;
    font-family: 'rrb';
    border-radius: 20px;
}

.bloco2v {
    margin-left: 7em;
}

.decimov {
    padding-bottom: 9em;
    font-size: 1.5em;
    background-color: #8CC4D6;
    color: #000000;
    width: 35em;
    border-radius: 20px;
    font-family: 'rrb';
}

.onzev {
    width: 63em;
    height: 20em;
    background-color: #8CC4D6;
    color: #000000;
    border-radius: 20px;
    padding-bottom: 12em;
}