.logink {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/cadelasafada.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    height: 47em;
}




.login2k {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textomk{
    color:white;
    margin-left: -11em;
    margin-bottom: 1.5em;

    font-size: 1em;
    background-color: rgba(254, 193, 138, 1);
    padding: 0.8em 2.8em;
    border-radius: 20em;
    font-family: 'rrb';
 }

.faixak {
display: flex;
justify-content:space-between;
background-color: rgba(0, 107, 140, 1);
margin-top: -0.1em;

}

.espk{
    margin-top: 1.2em;
}

.esp2k {
    margin-left: 2em;
}

.bot1S{
    background-color: #A3E0F3;
    color: #006B8C;
    border-radius: 100px;
    font-family: 'rrb';
    font-size: 20px;
    cursor: pointer;
    padding: 20px 30px;
   
}

.textk{
   color:white;
   margin-right: 4em;
   margin-bottom: 1.2em;
   margin-top: 1.2em;
   font-size: 1.2em;
   background-color: rgba(254, 193, 138, 1);
   padding: 0.8em 2.8em;
   border-radius: 20em;
   font-family: 'sb';
}

input {
    background-color: rgba(196, 196, 196, 1);
    margin-left: 30em;
    width: 28em;
    height: 4em;
    border-radius: 2.2em;
    border: none;
    margin: 0px;
}

.pak {
    background-color: white;
    border-radius: 2em;
    opacity: 92%;
}

.entrak {
   margin-top: 38px; 
   font-family: 'rb';
   margin-bottom: 0.6em;  
    
}
.testek{
    
    font-size: 4em;
    margin-left: 0.6em;
    margin-right: 3.2em;
    
}

.cak {
    font-family: 'rrr';
    margin-left: 2.4em;
    font-size: 1.3em;
}

.contak {
    display: flex;
    flex-direction: row;
}

.c1k {
    font-family: 'rr';
    margin-left: 3em;
    font-size: 1.1em;
    margin-top: 1.4em;
}

.c2k {
    font-family: 'rr';
    margin-left: 0.4em;
    font-size: 1.1em;
    color: rgba(38, 109, 215, 1);
    margin-bottom: 1em;
    margin-top: 1.4em;
}

.Lk {
    display:flex;
    align-items: center;
   
    margin-left: 9.5em;
    margin-bottom: 4em;
    
}
.botaok{
    font-family: 'rb' ;
    font-size: 17px;
    width: 12em; 
    border-radius: 30px;
    background-color: #A3E0F3;
    text-decoration: none;
    border: none;
    color: black;
    margin: 0px;
    padding: 15px 50px;

}
.tamanhok{
    font-size: 1.3em;
    font-family: 'rr';
}

.t2 {
    margin-left: -2em;
}

.logok {
    width: 10em;
    mix-blend-mode: lighten;
}