


    .faixaS {
        display: flex;
        flex-direction: column;
    }
    
    .faixa-cimaS {
        display:flex;
        flex-direction: row;
       justify-content: space-between;
       background-color: rgba(0, 107, 140, 1);
    }

    .palavraS span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

    
      .palavraS:hover span:after {
        opacity: 1;
        right: 0;
      }


    .palavraS {
        
        color: white;
        margin-top: 1.2em;
        display: flex;
        align-items: center;
        margin-right: 3em;
        margin-bottom: 1em;
        height: 2em;
        background-color: #FEC18A;
        border: none;
        border-radius: 50px;
        padding: 20px 30px;       
        font-size: 1em;
        cursor: pointer;
        font-family: 'rrb';
    }

    .palavraS:hover{
        background-color: #A3E0F3;
        font-size: 1.1em;
        transition: 0.3s;
    }

    .bot2S:hover{
      
    font-size: 1.55em;
    background-color: #FEC18A;
    color: #ffff;
    }
    
    .bot2S span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .bot2S span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .bot2S:hover span {
        padding-right: 25px;
      }
      
      .bot2S:hover span:after {
        opacity: 1;
        right: 0;
      }

      


    .botaosair {
        color: white;
        margin-top: 1.2em;
        display: flex;
        align-items: center;
        margin-right: 3em;
        margin-bottom: 1em;
        height: 2em;
        background-color: #FEC18A;
        border: none;
        border-radius: 50px;
        padding: 20px 30px;       
        font-size: 1em;
        cursor: pointer;
        font-family: 'rrb';
    }
    .logoS{
    mix-blend-mode: lighten;
    width:12em;
    margin-left: 2em;

    }
    .faixina1S{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        display: flex;
        flex-direction: row;
        background-image: url('../../../public/images/Vector\ 1\ \(1\).svg') ;

    }
    
    .cassioS{
        display: flex;
        flex-direction: column;
        padding: 4em;
        margin-left: 2em;
        height: max-content;
    }
     
   


    .cassio1S{
        margin-left: 3em;
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txt1S{
        font-size: 3em;
        color: #000000;
        font-family: 'rrr';
    }
    
    .txt2S{
        width: 22em;
        font-size: 1.4em;
        margin-top: 1em;
        color: #000000;
        font-family: 'red';
    }
    .txt3S{
        font-size: 32px;
        margin-top: 1em;
        margin-bottom: 1em;
        font-family: 'rrb';
    }
    .txt4S{       
      font-size: 40px;
        width: 14em;
        color: #000000;
        font-family: 'rrb';
    }
    
    .cassio2S{
        display: flex;
        flex-direction: column;
        padding: 4em 1em;
    }
    .cassio3S{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: 4em;
    }
    
    .bot1S{
        background-color: #A3E0F3;
        color: #006B8C;
        border-radius: 100px;        
        font-size: 2.1em;
        cursor: pointer;
        padding: 20px 30px;
        font-family: 'rb';

    }

    
    .bot2S{
        background-color: #A3E0F3;
        color: #006B8C;
        border-radius: 100px;       
         font-size: 1.50em;
        cursor: pointer;
        padding: 20px 30px;
        margin-right: 1em;
        font-family: 'rb';
        
    }

    .botw1{
        background-color: #A3E0F3;
        color: #006B8C;
        border-radius: 100px;       
         font-size: 1.50em;
        cursor: pointer;
        padding: 20px 30px;
        margin-right: 1em;
        font-family: 'rb';
        
    }

    .faixina2S{
        display: flex;
        flex-direction: row;
        background-color: #FEC18A;
        color: #ffffff;
        padding: 45px 0px 15px 70px;
        margin-top: 2.5em;
        
        }
    .txt5S{
        font-size: 2.1em;
        width: 20em;
        margin-left: 1.2em;
        margin-top: 0.5em;
        font-family: 'rrb';
        color: #ffff;
    }
    .txt6S{
        font-size: 1.2em;
        text-align: center;
        width:19em ;
        display: flex;
        margin-top: 1em;
        font-family: 'red';
        color: #ffff;
    }
    .imgcat{
        width: 30em;
    }
    
    .bot4S{
        background-color: #A3E0F3;
        color: #006B8C;
        border-radius: 77px;
        font-size: 1.25em;
        cursor: pointer;
        width: max-content;
        padding: 18px 50px;
        margin-top: 1em;
    }

    .bot4S:hover{
        background-color: #006B8C;
        font-size: 1.1em;
        transition: 0.3s;

    }

    .bot4S:hover{
      
    font-size: 1.43em;
    color: #006B8C;
    color: #ffff;
    }
    
    .bot4S span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
     
      .bot4S:hover span:after {
        opacity: 1;
        right: 0;
      }
   
   
    @media (max-width:400px){
        .faixa-cimaS{
            width: 200%;
        }
        .logoS{
            width: max-content;
            height:4em;
            margin-left: 1em;
        }
        .palavraS{
            padding: 15px 30px;
            margin-right: 5em;
        }
        .faixina1S{
            flex-direction: column;
            height: 47em;
            background-image: none;
        }
        .txt1S{
            font-size: 2.3em;
        }
        .txt2S{
            font-size: 1.25em;
            width: 16.3em;
        }
        .txt4S{
            display: none;
        }
        .cassio2S{
            background-repeat: no-repeat;
        }
        .cassioS{
            padding: 2em 0em 2em 0em;
        }
        .bot1S{
            margin-top: -4em;
            padding:20px;
            font-size: 1em;
        }
        .bot2S{
            margin-top: -4em;
            padding:20px;
            font-size: 1.1em;
        }
        .faixina2S{
            flex-direction: column-reverse;
            justify-content: center;
            padding: 10px;
        }
        .txt5S{
            text-align: center;
            width: 9em;
            font-size: 2.1em;
            margin-left: -5em;
            justify-content: center;
        }
        .txt6S{
            width: 40vmax;
            font-size: 1.1em;
            margin-left: 0px;
            
        }
        .bot4S{
            display: flex;
            position:static;
            justify-content: center;
            margin-top: 1em;
            padding: 10px 1px;
            width: 10em;
            margin-left: 4em;
            margin-bottom: 1em;
        }
        .faixina2S{
            width: 200%;
        }
        .txt5S{
            margin-left: 1em;
            width: 60vh;
        }
        .txt6S{
                width: 40vh;
            
        }
        .bot4S{
            margin-left: 8.5em;
            
        }
        .imgcat{
            margin-left: 8em;
            width: 45vh;
        }

        .tecto{
            width: 25vh;
            margin-left: -4.6em;
        }
        .titulo2jc{
            width: 40vh;
            margin-left: 1em;
        }
        .juntarjc{
            width: 40vh;
        }
        .c2cj{
            width: 20vh;
        }
        .prjc{
            width: 10vh;
            height: 10vh;
        }
    }
    
    
    
    
    .faixan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #8DE3FE;
        padding-bottom: 1em;
        min-width: max-content;
    }
    
    .house {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        
    }
    .img1jc{
        mix-blend-mode:multiply;
        margin-right: 1em;
    }
    
    .imagens{
        margin-right: 1em;
        width: 1.6em;
        margin-top: 4em;
        margin: 1.1em;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4em;
    }
    .home {
        margin-left: 2em;
        
    }
    .bt {
        margin-bottom: 1em;
        
    }
    .button {
        color: #000000;
    font-size: 1.7em;  
    margin-top: 2em;
  
}
    .meet {
        margin-right: 2em;
         
    }
    .pretend {
        margin-right: 2em;
    
    }
    
    .holdon {
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.3em;
    margin-top: -6em;
    }
    
    .img2{
        mix-blend-mode:darken;
        width: 40vh;
        margin-top: 3em;
    }

    .principaljc {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        padding: 2em;
    }

    

    .tamanhoo {
        display: flex;
        flex-direction: row;
        background-image: url('../../../public/images/fundolaranjafofo.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain;      
    }
    
    .titulojc {
        font-size: 1.9em;        text-align: center;
        font-family: 'rb';
        margin-top: 2em;
        color: #006B8C;
        width: 16em;
        margin-left: 1em;
       
    }
    
    .titulo2jc {   
         text-align: center;
        margin-top: 1.5em;
        font-size: 1.1em;
        margin-left: 1em;
    }

   
    
    .cardjc {
        display: flex;
        flex-direction: column;
        min-height: 38em;
        align-items: center;
        justify-content: space-around;
       
    }
    
    .c2jc {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .nomejc {        
        font-size: 1.6em;
        width: 14em;
        margin-top: 0.9em;
        color: #000000;
        font-family: 'rb';
        margin-right: -5em;
    }
    
    .a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .cejc {
        display: flex;
        flex-direction: column;
    }
    
    .starjc {
        display: flex;
        flex-direction: row;
        margin-top: 0.7em;
        width: 20px;
        margin-left: 2.1em;
        margin-bottom: 1.5em;
    }
    
    .img1jc {
        margin-bottom: 0.2em;
        margin-right: 1.3em;
        margin-left: 1.2em;
        margin-top: 2em;
    }
    
    .img2jc {
        margin-bottom: 0.2em;
        margin-right: 1.3em;
        margin-left: 1.2em;
        margin-top: 2em;
        width: 18em;
    }
    
    
    
    .cardjc > * {
        margin-bottom: 1.2em;
        margin-right: 3em;
        
    }
    
    .juntarjc {
        border-style: solid;
        border-color: #DDD7D7;
        border-radius: 17px;
        border-width: 1px;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px 4px #ddd7d7;
        margin-left: 12em;
    }
    
    
    .tutorajc {       
        margin-left: 1em;
        font-size: 1.2em;
        color: #000000;
        font-family: 'rrr';
        margin-top: 0.5em;
    }
    
    .prjc{        margin-top: 0.5em;
        font-size: 1.1em;
        margin-left: 2.1em;
        margin-right: 2.3em;
        color: #000000;
        font-family: 'red';
        width: 60vh;
    }
    
    
    
    
    
    .faixae {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
      
    }
    
    .faixa-cimae {
        display:flex;
        flex-direction: row;
       justify-content: space-between;
       background-color: rgba(0, 107, 140, 1);
       margin-top: -1em;
       margin-left: -0.5em;
       margin-right: -0.5em;
       height: 5em;
    
    }
    
    .botao1e{
        display: flex;
        align-items: center;
        color: white;
        margin-top: 1.2em;
        margin-bottom: 1em;
        margin-left: 75em;
    
        height: 2em;
        background-color: #FEC18A;
        border: none;
        border-radius: 50px;
        padding: 0.5em 1.5em;;
        font-size: 1em;
    }
    
    .botao2e{
        color: white;
        margin-top: 1.2em;
        display: flex;
        align-items: center;
        margin-right: 1em;
        margin-bottom: 1em;
        height: 2em;
        background-color: #FEC18A;
        border: none;
        border-radius: 50px;
        padding: 0.5em 1.3em;;
        font-size: 1em;
    }
    
    .tituloe {
        margin-left: 15em;
        margin-top: 2em;
        font-size: 2.9em;
        color: #000000;
        font-family: 'rrr';
    
    }
    
    .titulo2e {
        margin-left: 18.5em;
        margin-top: -0.1em;       
         font-size: 2.9em;
        margin-bottom: 1em;
        color: #000000;
        font-family: 'rrr';
    }
    
    .pe{
        font-size: 1.3em ;
         background-color: #ffa34d71;
         display: flex;
         margin-left: 29em;
         border-radius: 3em;
         box-shadow:  -0.7em 1em  #ffd0a79e;
         width: 32em;
         padding-left: 4em;
         padding-right:4em;
         padding-bottom: 2em;
         padding-top: 2em;
         text-align: center;
         margin-top: -0.3em;
         color: #000000;
         font-family: 'red';
    
    
    
     
    
    }
    
    
    
    
    .img2e{
       margin-top: -21em;
       width: 45em;
       margin-left: -4em;
       margin-bottom: 4em;
       background-repeat: no-repeat;
       background-size: contain ;
       background-image: url('../../../public/images/Vector_1\ \(1\).svg');
       background-repeat: no-repeat;
    }
 
    
    * {
        box-sizing: border-box;
        border: none;
    }
    
    @media (max-width: 400px) {
    
        .faixa-cimae {
    
            width:100%;
    
    
    
        }
        .botao1e{
            width:20vh;
            margin-left: 4em;
            height: 1em;
            font-size: 1em;
    
        }
        .botao2e{
            width:20vh;
            margin-left: 3em;
            height: 1em;
            font-size: 1em;
        }
        .tituloe{
            font-size: 2.9em;
            margin-left: 3.5em;
            width: 70vh;
    
    
        }
        .titulo2e{
            font-size: 2.9em;
            margin-left: 6.5em;
        }
        .pe{
            font-size: 0.7em;
            margin-left: 5em;
            margin-top: 3em;
            width: 65vh;
    
    
        }
        .img2e{
    
            width: 80vh;
            margin-top: 3.7em;
    
        }
    }



    @media (max-width: 1280px) {
       .c2jc {
           width: max-content;
        }
        .juntarjc{
            margin-left: 0.8em;
        }

        .pe{
            font-size: 1.2em;
        }
        .cardjc{
            width: 40em;
        }
    }

    