
.filtrarxx {
    display: flex;
    flex-direction: row;
    
.funilxx{
    width: 30vh;
    margin-left: 3.5em;
}

.filtrar2xx {
    display: flex;
    flex-direction: column;
    background-color: #FEC18A;
    box-shadow: 4px 4px 4px rgb(163, 163, 163);
    width: 17em;
    position: relative;
}
.bb{
    text-decoration: none;
    background-color: white;
    font-family: 'rb';
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #006B8C;
    padding: 0.2em 1.7em 2px;
    border-radius: 2em;
}

.funilxx {
   padding: 3em;
    width: 0vh;
    margin-left: 2em;
}


.nominhoxx {
    font-family: 'rrb';
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: -1.1em;
    margin-bottom: 0.8em;
}

.t1 {
    background-color: #ffffff;
    margin-bottom: 0.4em;
    font-family: 'rrb';
}

.t2xx {
    background-color: #6CBFD9;
    margin-bottom: 0.4em;
    font-family: 'rrb';
}

.nauanjj{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #7773F2;
    border-radius: 100%;
    
    font: 500 20px;
    color: #fff;

    height: 50px;
    width: 50px;

    font-size: 1.6em;
}

.checkxx {
 display: flex;
 flex-direction: row;
 
}

.checkxx > * {
    margin-bottom: 0.3em;
    margin-left: 1em;
    margin-right: 3em;
    width: 2em;
    font-size: 1.3em;
    font-family: 'light';
    color: rgb(0, 0, 0);
    
}

.txtxx {
    font-family: 'rrr';
    font-size: 0.9em;
    margin-left: -1.2em;
    margin-right: 6em;
}

.txttxx {
    font-family: 'rrr';
    font-size: 0.9em;
    margin-bottom: 1.4em;
    margin-left: -1.2em;
}

.txtttxx {
    font-family: 'rrr';
    font-size: 0.9em;
    margin-bottom: 4.4em;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
 
  border-radius: 0.2em;

  width: 1em;
  height: 1em;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  background-color: #c99160;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
.bxx {
    text-decoration: none;
    color: #006B8C;
    background-color: white;
    padding: 12px 36px;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(168, 168, 168);
    font-family: 'rrb';
    font-size: 1.2em;
    margin-top: 3em;
    cursor: pointer;
}

.bbxx {
    text-decoration: none;
    color: #006B8C;
    background-color: white;
    padding: 10px 26px;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(168, 168, 168);
    font-size: 0.8em;
    font-family: 'rrb';
    font-size: 1.2em;

}

.bbbxx {
    text-decoration: none;
    color: white;
    background-color:#19a2cc;
    padding: 10px 26px;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(139, 139, 139);
    font-size: 0.8em;
    font-family: 'rrb';
    font-size: 1.2em;
}

.botaosair{
    text-decoration: none;
    color: white;
    background-color:#19a2cc;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(139, 139, 139);
    font-size: 0.8em;
    font-family: 'rrb';
    font-size: 1.2em;
    margin-left: 5.1em;
 
    

    
    

 }
.simbolojj {
    display: flex;
    flex-direction:row;
    width: 3em;
    .filtrarongcaa { 
        margin-top: 1em;
        width: 3em;
      margin-left: 1em;
    }

}
.nxx {
    text-align: center;
    margin-bottom: 3em; 
}
}
.principaljj {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    min-width: 80vw;
}



.lljj {
    mix-blend-mode: lighten;
}

.loginjjj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #006B8C;
}

.login1jj {
    display: flex;
    width:  max-content;
}

.login1jjj > * {
 margin-right: 2em;
}

.nomejj {
    color: white;
    font-family: 'rb';
     margin-top: 01.2em;
}

.bbb{
    text-decoration: none;
    background-color: white;
    font-family: 'rb';
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #006B8C;
    padding: 0.2em 1.7em 2px;
    border-radius: 2em
}
.b{
    text-decoration: none;
    background-color: white;
    font-family: 'rb';
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #006B8C;
    padding: 0.2em 1.7em 2px;
    border-radius: 2em
}
.aajj {
    text-decoration: none;
    background-color: white;
    font-family: 'rb';
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #006B8C;
    padding: 0.2em 1.7em 2px;
    border-radius: 2em;
}

.filtrarjj{
    width: 2em;
    margin-top: 1em;
}

.cardpjj {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 1em;
}

.cardpjj > * {
    margin-left: 3em;
}





.lucaojjn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card1jjjj {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7em;
    box-shadow: 4px 4px 7px 0px rgb(187, 182, 182);
}

.card11jj {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7em;
    box-shadow: 4px 4px 7px 0px rgb(187, 182, 182);
    margin-top: 3em;
}

.card11jjj {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7em;
    box-shadow: 4px 4px 7px 0px rgb(187, 182, 182);
    margin-top: 3em;
}



.especiejj {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

.ejj {
    font-family: 'rb';
    color: #61A9BF;
    margin-left: 2em;
}

.avejj {
    font-family: 'rb';
    margin-left: 0.3em;
    width: 10em;
    color: black;
}

.aveejj {
    font-family: 'rb';
    margin-left: 0.3em;
    width: 16em;
}

p {
    color: black;
}
.femininojj {
    width: 20px;
    height: 30px;
    margin-left: 6em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.femininoojjj {
    width: 19px;
    height: 30px;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.femininoojjjx {
    width: 19px;
    height: 30px;
    margin-left: 0.6em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.feminino2jj {
    width: 19px;
    margin-left: 0.4em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.MAScULINOjj {
    width: 30px;
    height: 30px;
    margin-left: 4.3em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.toninhajj {
    margin-left: 2em;
    
}

.textos2jj {
    display: flex;
    flex-direction: column;
   
}

.nijj {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.idadejj {
  font-family: 'rb';
  margin-top: 0.7em;
  color: black;
}

.psjj {
    display: flex;
    flex-direction: column;
    color: black;
}

.pijj {
    font-family: 'rb';
    margin-left: 1.6em;
}

.curtidasjj {
    font-family: 'rb';
    margin-left: 0.5em;
    margin-top: 0.3em;
}
.psijj {
    display: flex;
    flex-direction: row;
}

.najj {
    font-family: 'rb';
    font-size: 2em;
    margin-left: -1.4em;
    margin-bottom: 0.2em;
}

.na2jj {
    font-family: 'rb';
    font-size: 2em;
    margin-left: -0.8em;
    margin-bottom: 0.2em;
}


.dsjj{
  font-family: 'rr';
  margin-left: 0.2em;
 }


 .curtirjj {
    display: flex;
    flex-direction: row;
    margin-left: 1.4em;
 }

 .curtirrjj {
    display: flex;
    flex-direction: row;
    margin-left: 1.4em;
     margin-top: 1.4em;
 }

 

 .curtirirjj {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1.4em;
    margin-right: 1.6em;
    margin-bottom: 2em;
 }

 .ed1jj {
     font-family: 'rb';
     margin-top: -1.4em;
     font-size: 0.9em;
     margin-right: 6px;
 }

 .ed2jj {
    font-family: 'rb';
    margin-top: -1.4em;
}

.papagaiojj {
   width: 22em;
   height: 15em;
}

.editarjj {
   display: flex;
   
}

.vectorjj {
   margin-left: 13.5em;
   width: 5em;
   margin-top: 3em;
   margin-bottom: 1.2em;
}

.meusjj {
    margin-top: 3em;
    font-family: 'rb';  
    font-size: 2.1em;
    margin-left: 0.2em;
    color: #006B8C;
}

.bujj {
    display: flex;
    flex-direction: row;
}

.bujj > * {
 margin-bottom: 0.3em;
}

.edjj {
    font-family: 'rr';
    margin-left: 1.2em;
    background-color: #8CC4D6;
    padding: 3px 16px;
    border-radius: 1.3em;
}

.eddjj {
    font-family: 'rr';
    margin-left: 1.2em;
    background-color: #D15161;
    padding: 3px 16px;
    border-radius: 1.3em;
    color: white;
}

.bbjj {
    text-decoration: none;
    font-family: 'rb';
    color: #006B8C;
    background-color: white;
    padding: 10px 26px;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(168, 168, 168);
    font-size: 0.8em;
   
    margin-left: 16em;
    
}

.botaosair1{
    text-decoration: none;
    color: white;
    background-color:#19a2cc;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(139, 139, 139);
    font-size: 0.8em;
    font-family: 'rrb';
    font-size: 1.2em;
    margin-top: -0.4em;
    align-items: center;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: row;
   margin-left: 2.8em;
   cursor: pointer;
 }

 .alinharbj{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textobotaoj{
    color: #fff;
}