
    .faixa1 {
        display: flex;
        flex-direction: column;
        
    }
    
    .faixa-cima {
        display:flex;
        flex-direction: row;
       justify-content: space-between;
       background-color: rgba(0, 107, 140, 1);
    }
    
    .palavra {
        color: white;
        margin-top: 1em;
        display: flex;
        align-items: center;
        margin-right: 3em;
        margin-bottom: 1em;
        height: 2em;
        background-color: #FEC18A;
        border: none;
        border-radius: 4em;
        padding: 25px 50px;
        font-family: 'rrb';
        font-size: 17px;
        cursor: pointer;
    
    }
    
    .img134{
    mix-blend-mode: lighten;
    width:10em;
    }
    .fundo{
        display: flex;
        flex-direction: column;
        background-color: #221D1D;
        background-image: url('../../../public/images/image\ 10.svg') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .registrar{
        color: #ffff;
        text-align: center;
        font-family: 'rrr';
        font-size: 2.4em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .alinhamento{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    
    }
    
    .informa{
        color: #ffff;
        font-family: 'rrb';
        font-size: 0.9;
        margin-bottom: 0.2em;
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-left: 0.4em;
    }
    
    .input1{
        width: 36em;
        height: 3.2em;
        border: none;
        background-color: #CAC5C5;
        border-radius: 0.9em;
        padding: 1em;
        font-size: 1.1em;
        
    }
    
    .butaorg{
        color: white;
        margin-top: 3.5em;
        background-color: #82c9df;
        border: none;
        border-radius: 50px;
        padding: 15px 50px;
        font-family: 'rrb';
        font-size: 1.5em;
        width: 12em;
        cursor: pointer;
        text-align: center;
        margin-bottom: 2em;
    }
    
    @media (max-width: 1280px) {
        .fundo{
            height: 55em;
        }

        .input1{
            width: 30em;
        }

     }
  
    
    