.principal {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
  
}

.simbolo {
    display: flex;
    flex-direction:row;
    
  
}

.ll {
    mix-blend-mode: lighten;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #006B8C;
}

.login1 {
    display: flex;
    justify-content:flex-end;
    
}

.login1 > * {
 margin-right: 1.2em;
}

.nome {
    color: white;
    font-family: 'rb';
     margin-top: 01.2em;
}

.nauan {
    margin-right: 1.5em;
}

.aa {
    text-decoration: none;
    background-color: white;
    font-family: 'sb';
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    color: #006B8C;
    padding: 0.2em 1.7em 2px;
    border-radius: 2em;
}

.filtrar{
    width: 2em;
    margin-top: 1em;
}

.cardp {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 0em 10em;
}

.cardp > * {
    margin-left: 3em;
}

.card {
    display: flex;
    flex-direction: row;
}

.card1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7em;
    box-shadow: 4px 4px 7px 0px rgb(187, 182, 182);
}

.card11{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7em;
    box-shadow: 4px 4px 7px 0px rgb(187, 182, 182);
    margin-top: 3em;
}

.card > * {
    margin-right: 5em;
}

.especie {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

.e {
    font-family: 'rb';
    color: #61A9BF;
    margin-left: 2em;
}

.ave {
    font-family: 'rb';
    margin-left: 0.3em;
    width: 10em;
}

.avee {
    font-family: 'rb';
    margin-left: 0.3em;
    width: 16em;
}

.feminino {
    width: 19px;
    margin-left: 6em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.femininoo {
    width: 19px;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.feminino2 {
    width: 19px;
    margin-left: 0.4em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.MASCULINO {
    width: 30px;
    height: 30px;
    margin-left: 4.3em;
    margin-right: 2em;
    margin-top: -0.4em;
}

.toninha {
    margin-left: 2em;
}

.textos2 {
    display: flex;
    flex-direction: column;
}

.ni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.idade {
  font-family: 'rb';
  margin-top: 0.7em;
}

.ps {
    display: flex;
    flex-direction: column;
}

.pi {
    font-family: 'rb';
    margin-left: 1.6em;
}

.curtidas {
    font-family: 'rb';
    margin-left: 0.5em;
    margin-top: 0.3em;
}
.psi {
    display: flex;
    flex-direction: row;
}

.na {
    font-family: 'rb';
    font-size: 2em;
    margin-left: -1.4em;
    margin-bottom: 0.2em;
}

.na2 {
    font-family: 'rb';
    font-size: 2em;
    margin-left: -0.8em;
    margin-bottom: 0.2em;
}


.ds{
  font-family: 'rr';
  margin-left: 0.2em;
 }

 .dsA{
     width: 20em;
     font-size: 1.1em;
     font-family: 'rr';
     margin-left: 1.4em;
     margin-top: 1.1em;
     margin-bottom: 1.1em;
 }

 .curtir {
    display: flex;
    flex-direction: row;
    margin-left: 1.4em;
 }

 .curtirr {
    display: flex;
    flex-direction: row;
    margin-left: 1.4em;
     margin-top: 1.4em;
 }

 

 .curtirir {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1.4em;
    margin-right: 1.6em;
    margin-bottom: 2em;
 }

 .ed1 {
     font-family: 'rb';
     margin-top: -1.4em;
     font-size: 0.9em;
     margin-right: 6px;
 }

 .ed2 {
    font-family: 'rb';
    margin-top: -1.4em;
}

.papagaio {
   width: 22em;
   height: 15em;
}

.editar {
   display: flex;
   
}

.vector {
   margin-left: 13.5em;
   width: 5em;
   margin-top: 3em;
   margin-bottom: 3em;
}

.meus {
    margin-top: 3em;
    font-family: 'rb';  
    font-size: 2.1em;
    margin-left: 0.2em;
    color: #006B8C;
}

.bu {
    display: flex;
    flex-direction: row;
}

.bu > * {
 margin-bottom: 0.3em;
}

.ed {
    font-family: 'rr';
    margin-left: 1.2em;
    background-color: #8CC4D6;
    padding: 3px 16px;
    border-radius: 1.3em;
}

.edd {
    font-family: 'rr';
    margin-left: 1.2em;
    background-color: #D15161;
    padding: 3px 16px;
    border-radius: 1.3em;
    color: white;
}

.bb {
    text-decoration: none;
    font-family: 'sb';
    color: #006B8C;
    background-color: white;
    padding: 10px 26px;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px rgb(168, 168, 168);
    font-size: 0.8em;
   
    margin-left: 16em;
    
}